@import '../../styles/base/colors';

.content {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 60%;
  max-width: 1270px;
  min-width: 700px;
  padding-bottom: 5em;

  &__box {
    background: $white;
    height: auto;
    padding: 2em 2em 4em 2em;
    border: 1px solid palette(gray,light);
    border-radius: 8px;
    box-shadow: 1px 1px 15px 0px #000;

    &__header {
      margin-bottom: 3em;
    }

    // &__content {
    // }

    &__footer {
      padding-top: 4em;
    }
  }
}

.bordered__box {
  padding: 2em;
  border: 2px solid palette(gray,light);
  border-radius: 8px;
}