.AddOnImage {
  text-align: center;

  img {
    max-width: 75px;
    max-height: 75px;
  }
}

.Column {
  padding-left: 0;
}

.Row {
  padding-left: 2em;
  padding-right: 2em;
}

.ImageColumn {
  width: 140px;
}