@import '../../styles/base/colors';
@import '../../styles/base/type';
@import '../../styles/utils/media-queries';

.OfferRowCheckboxWrapper {
  flex: 0 1 auto;
  align-self: center;
  margin-right: 2em;

  width: 24px;

  @include gmq(portrait) {
    margin-right: 1em;
  }
}

.offerColumn {
  @include gmq(portable) {
    padding-left: 0;
    padding-right: 2em;
  }
}

.OfferRowCheckbox {
  cursor: pointer;
  width: 24px;
  height: 24px;
  border: 1px solid palette(gray,light);
  border-radius: 5px;

  img {
    margin: 1px 0 0 4px;
  }
}

.OfferName h5 {
  @include font-primary-semibold;
  color: $black;
  font-size: font-size(body,large);
  letter-spacing: letter-spacing(default);
  line-height: 1.2;
  margin: 0 !important;

  &.hideCheckbox {
    width: 200px;
  }

  @include gmq(portrait) {
    text-align: left;
    width: auto;
  }
}

.OfferValue h5 {
  color: $black;
  font-size: font-size(body,large);
  letter-spacing: letter-spacing(default);
  margin: 0 !important;
}

.isDisabled {
  color: palette(gray, base) !important;

  h5,
  div {
    color: palette(gray, base);
  }
}

.OfferRequirements {
  color: $gray;
  font-size: font-size(body,medium);
  min-width: 185px;

  span {
    color: $gray;
    font-size: font-size(body,medium);

    .isDisabled {
      color: palette(gray, base);
    }
  }

  @include gmq(portrait) {
    display: none;
  }

  @include gmq(portable) {
    min-width: 30px;
  }
}

.expandImage {
  cursor: pointer;
  margin-left: .5em;

  @include gmq(portrait) {
    width: 18px;
  }
}

.footer {
  padding-bottom: 6em;
}

.hideWhenDisabled {
  display: none;
}

.showOnMobile {
  display: none;
}

@include gmq(portrait) {
  .hideOnMobile {
    display: none;
  }

  .showOnMobile {
    display: block;
    line-height: 1.7;
  }
}