@import '../../styles/base/colors';
@import '../../styles/base/type';

.rowCheckboxWrapper {
  flex: 0 1 auto;
  align-self: center;
  margin-right: 2em;
}

.rowCheckbox {
  cursor: pointer;
  width: 24px;
  height: 24px;
  border: 1px solid palette(gray,light);
  border-radius: 5px;

  img {
    margin: 1px 0 0 4px;
  }
}

.rowTitle {
  @include font-primary-semibold;
  font-size: font-size(body,large);
}