@import '../../styles/base/colors';
@import '../../styles/base/type';
@import '../../styles/utils/media-queries';

p {
  white-space: pre-wrap;
}

.OfferDetails {
  max-width: 700px;
  padding: 4em 8em;

   @include gmq(portrait) {
    width: 90vw;
    padding: 2em;
  }
}

.OfferDetailsModalHeader {
  color: $black;
  font-size: font-size(title,default);
  font-weight: font-weight(heavy);
  padding: .75em 3em .75em 1.25em;
  border-bottom: 1px solid palette(gray,light);
}

.OfferDetailsModalMessage {
  overflow: auto;
  max-height: 300px;
  max-width: 500px;
  padding: 1em 1.5em;

  p {
    font-size: font-size(body,default);
    line-height: 1.6;
    color: palette(gray,dark);
    margin: 0;
  }
}

.ProductVideosModal {
  padding: 3em;
}

// ===================================================
// Success Modal
// ===================================================

.SuccessModal {
  max-width: 700px;
  padding: 4em 8em;

  @include gmq(portrait) {
    box-sizing: border-box;
    width: 90vw;
    padding: 2em;

    .SuccessModalHeader h1 {
      font-size: font-size(title,x-large);
    }

    .ModalClose img {
      display: block;
    }

    button {
      display: block;
      margin-left: auto !important;
      margin-right: auto !important;
      margin-top: 1em;

      &:first-child {
        margin-top: 0;
      }
    }

    .checkImage {
      display: block;
      margin: 0 auto 1em auto;
    }
  }
}

.SuccessModalHeader {
  text-align: center;

  h1 {
    font-size: font-size(title,jumbo);
    margin-bottom: 0;
  }

  img {
    max-width: 82px;
  }
}

.SuccessModalMessage p {
  text-align: center;
  margin: .5em 0 1.5em 0;
}

.SuccessModalButtons {
  text-align: center;

  button {
    margin-right: 1em;

    &:last-child {
      margin-right: 0;
    }
  }

  @include gmq(portrait) {
    width: 50vw;
    margin: 0 auto;

    button {
      min-width: 175px;
    }
  }
}


// ===================================================
// SuccessWide Modal
// ===================================================

.SuccessWideModal {
  max-width: 662px;
  padding: 4em 8em;

  @include gmq(portrait) {
    box-sizing: border-box;
    width: 90vw;
    padding: 2em;

    .checkImage {
      display: block;
      margin: 0 auto 1em auto;
    }
  }

  &Header {
    text-align: center;

    h1 {
      font-size: font-size(title,xxx-large);
      margin-bottom: 0;
    }

    img {
      max-width: 82px;
    }
  }

  &Message p {
    text-align: center;
    margin: .5em 0 1.5em 0;
    max-width: 332px;
  }
}
