@import '../../styles/base/colors';
@import '../../styles/base/type';
@import '../../styles/layout/type';
@import '../../styles/utils/media-queries';

.Button {
  @extend button;
  font-size: 1.4rem;
}

.primary {
  background: $green;
  color: $white;
  border: 1px solid $green;

  &:active,
  &:hover {
    background: darken($green, 10%);
  }
}

.secondary {
  background: palette(red,base);
  color: $white;
  border: 1px solid palette(red,base);

  &:active,
  &:hover {
    background: palette(red,dark);
    color: $white;
    border-color: palette(red,dark);
  }
}

.dark {
  background: palette(gray,dark);
  color: $white;
  border: 1px solid palette(gray,dark);

  &:active,
  &:hover {
    background: palette(gray,x-dark);
  }
}

.light {
  background-color: rgba(48,56,65,0.5);
  color: $white;
  border: none;

  &:active,
  &:hover {
    background: palette(gray,dark);
  }
}

.inverted {
  background: $white !important;
  color: palette(red,base) !important;
  border: 1px solid palette(red,base) !important;

  &:active,
  &:hover {
    background: palette(gray,x-light) !important;
  }
}

.inverted__dark {
  @include font-primary;
  text-transform: none;
  font-weight: font-weight(regular);
  letter-spacing: letter-spacing(default);
  background: none;
  color: palette(gray,dark);
  border: 1px solid palette(gray,dark);

  &:active,
  &:hover {
    background: palette(gray,x-light);
  }
}

.inverted__dark__standard {
  background: none;
  color: palette(gray,dark);
  border: 1px solid palette(gray,dark);

  &:active,
  &:hover {
    background: palette(gray,x-light);
  }
}

.size {
  &__small {
    font-size: .9em;
    padding: .25em 1em;
    vertical-align: middle;
  }

  &__medium {
    font-size: 1.25em;
    padding: .25em 1em;
    vertical-align: middle;
  }
}

.icon {
  vertical-align: top;
  margin-right: .5em;
}
