@import '../../styles/base/colors';
@import '../../styles/base/type';
@import '../../styles/utils/media-queries';

.wrapper {
  width: 400px;
  height: 50px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  > h2 {
    text-align: center;
    margin-bottom: .75em;
  }

  @include gmq(portrait) {
    transform: scale(.5);

    h2 {
      font-size: font-size(title,xx-large);
    }
  }
}

.LoadingOverlay {
  z-index: 10;
  background: $white;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.LoadingBackground {
  position: relative;
  background: palette(gray,x-light);
  transform: skew(-25deg);
  width: 400px;
  height: 20px;
}

.LoadingColor {
  animation: progress 2.2s infinite;
  transform: skew(-25deg);
  display: inline-block;
  background: palette(red,base);
  width: 0;
  height: 20px;
}

.Divider {
  z-index: 1;
  background: $white;
  position: absolute;
  height: 20px;
  width: .5em;
  transform: skew(-25deg);

  &:first-child {
    left: 80px;
  }

  &:nth-child(2) {
    left: 160px;
  }

  &:nth-child(3) {
    left: 240px;
  }

  &:nth-child(4) {
    left: 320px;
  }
}

@keyframes progress {
  0% { width: 0 }
  20% { width: 80px }
  40% { width: 160px }
  60% { width: 240px }
  80% { width: 320px }
  100% { width: 400px }
}