@import '../../styles/base/type';

.Paginator {
  margin: 1em 0;
}

.PaginatorText {
  display: inline-block;
  @include font-primary-semibold;
  font-size: font-size(body,large);
  width: 90px;
}

.PaginatorButton {
  background: none;
  vertical-align: baseline;
  padding: .25rem 0 0 0;
  margin-left: 1em;
  border: 0;

  img {
    height: 16px;
  }

  &:nth-child(3) {
    img {
      transform: rotate(180deg);
    }
  }

  &.disabled {
    img {
      opacity: .5;
    }
  }
}