// ===================================================
// AauxNext
// ===================================================
@font-face {
  font-family: 'AauxNext-Light';
  src: url('AauxNext-Light.woff') format('woff'),
       url('AauxNext-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'AauxNext-Regular';
  src: url('AauxNext-Regular.woff') format('woff'),
       url('AauxNext-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'AauxNext-Bold';
  src: url('AauxNext-Bold.woff') format('woff'),
       url('AauxNext-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'AauxNext-SemiBold';
  src: url('AauxNext-SemiBold.woff') format('woff'),
       url('AauxNext-SemiBold.ttf') format('truetype');
}

// ===================================================
// Tungsten
// ===================================================
@font-face {
  font-family: 'Tungsten-Medium';
  src: url('Tungsten-Medium.woff') format('woff'),
       url('Tungsten-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Tungsten-SemiBold';
  src: url('Tungsten-Semibold.woff') format('woff'),
       url('Tungsten-Semibold.ttf') format('truetype');
}

// ===================================================
// Source Code Pro
// ===================================================
// @import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500,600");

// .woff2 (web open font format with better compression),
// .woff (web open font format),
// .ttf (truetype)